.container {
  display: inline-flex;
  vertical-align: middle;
}

.ball {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  float: left;
  margin: 0 5px 0 0;
}

.active {
  background-color: #6ad397 !important;
}

.pending {
  background-color: #fed249 !important;
}

.inactive {
  background-color: #636363 !important;
}

.children {
  font-family: Poppins;
  font-size: 14px;
  color: #454545;
}
